.zhuyedaohang{width:100%;height:100%;}
.zhuyedaohang .zhuyeleft{display:inline;width:200px;height：100%;margin-left:380px;margin-right:150px;margin-top: 30px;}
.zhuyebianjikuang{margin-left:70px;ackground-color:red;}
.tzgg{font-size: 20px;font-family: simhei;font-color:black;font-weight:bold;}
.zhuyedaohang .zhuyeleft li{height:30px;font-size:16px;font-family: simhei;font-weight:bold;}